part of '${cubit_snake_case}_cubit.dart';

class ${cubit_pascal_case}State extends Equatable {
  final LoadStatus loadDataStatus;

  const ${cubit_pascal_case}State({
    this.loadDataStatus = LoadStatus.initial,
  });

  @override
  List<Object> get props => [
        loadDataStatus,
      ];

  ${cubit_pascal_case}State copyWith({
    LoadStatus? loadDataStatus,
  }) {
    return ${cubit_pascal_case}State(
      loadDataStatus: loadDataStatus ?? this.loadDataStatus,
    );
  }
}
